.hero__duotone-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100dvw;
  height: 100dvh;
}

.hero__duotone {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #a4f5a0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    display: block;
    object-fit: cover;
  }
}
.hero__duotone::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #1f4300;
  z-index: 1;
  mix-blend-mode: lighten;
}
